body {
    background-color: $primer-background;
    color: $text-color-default;
    font-size: $font-size-md;
    overflow-y: scroll;
    display: initial;
}

.main-content {
    min-height: 420px;
    background-color: $main-background;
    padding-top: 60px;
    padding-bottom: 80px;
}