.header-content {
    z-index: $z-index-header;
    background-color: $header-background;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;

    &.pure-menu.pure-menu-horizontal {
        background-color: $header-background;
    }
}