.avatar-lg {
    width: $avatar-lg;
    height: $avatar-lg;
    border-radius: calc($avatar-lg * 0.5);
}

.avatar-md {
    width: $avatar-md;
    height: $avatar-md;
    border-radius: calc($avatar-md * 0.5);
}

.avatar-sm {
    width: $avatar-sm;
    height: $avatar-sm;
    border-radius: calc($avatar-sm * 0.5);
}