<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>purecss-ui</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" asp-append-version="true">

    <link href="/css/lib.css" rel="stylesheet">
    <link href="/css/{{themeSrc}}" rel="stylesheet">
</head>

<body>
    <!-- header -->
    <div id="main-header" class="sticky-top">
        <div class="pure-menu pure-menu-horizontal header-content">
            <div class="pure-g flex-align-center">
                <div class="pure-u-md-1-24 pure-u-lg-2-24"></div>
                <div class="pure-u-1 pure-u-md-22-24 pure-u-lg-20-24">
                    <div class="mx-1">
                        <div id="menu-container" class="pure-g flex-align-center">
                            <div class="pure-u-12-24">
                                <div class="pure-menu-item brand flex-align-center">
                                    <a href="/" class="no-decorator p-0">
                                        <img src="/images/pure-ui-logo.png" class="brand-logo" />
                                        <span class="text-xl text-primary text-bold brand-title ml-sm">Pure.css UI</span>
                                    </a>
                                </div>
                            </div>
                            <div class="pure-u-12-24 h-align-right">
                                <ul class="pure-menu-list">
                                    <li class="pure-menu-item"><a href="/" class="pure-menu-link">Default Theme</a></li>
                                    <li class="pure-menu-item"><a href="/?theme=dark" class="pure-menu-link">Dark Theme</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- body -->
    <div class="main-content">
        <div class="pure-g">
            <div class="pure-u-md-1-24 pure-u-lg-2-24"></div>
            <div class="pure-u-1 pure-u-md-22-24 pure-u-lg-20-24">
                {{{ yield }}}
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer-content">
        <div class="pure-g">
            <div class="pure-u-md-1-24 pure-u-lg-2-24"></div>
            <div class="pure-u-1 pure-u-md-22-24 pure-u-lg-20-24">
                <div class="mx-1 text-information">
                    <span>Footer content</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>